name: Windows
on:
  - push
  - pull_request
jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "2.4"
          - "2.5"
          - "2.6"
    runs-on: windows-latest
    steps:
      - name: Disable crash dialog
        run: |
          reg add "HKCU\SOFTWARE\Microsoft\Windows\Windows Error Reporting" `
            /v DontShowUI `
            /t REG_DWORD `
            /d 1 `
            /f
      - uses: actions/setup-ruby@master
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - uses: actions/checkout@master
      - name: Install Bundler
        run: |
          gem install bundler
      - name: Update MSYS2
        run: |
          ridk exec pacman -Syu --noconfirm
      - name: Search Apache Arrow
        run: |
          ridk exec pacman -Ss glib
          ridk exec pacman -Ss apache-arrow
      - name: Install dependencies
        run: |
          bundle install
      - name: Build
        run: |
          bundle exec ruby -rdevkit -S rake build
      - name: Test
        run: |
          bundle exec ruby -rdevkit test/run-test.rb
