name: Windows
on:
  - push
  - pull_request
jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
    runs-on: windows-latest
    steps:
      - name: Disable crash dialog
        run: |
          reg add "HKCU\SOFTWARE\Microsoft\Windows\Windows Error Reporting" `
            /v DontShowUI `
            /t REG_DWORD `
            /d 1 `
            /f
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install dependencies
        run: |
          bundle install
      - name: Build
        run: |
          bundle exec ruby -rdevkit -S rake build
      - name: Test
        run: |
          bundle exec ruby -rdevkit test/run-test.rb
      - name: Install
        run: |
          bundle exec ruby -rdevkit -S rake install
          gem list
          ruby -r grntest/version -e "puts `$LOADED_FEATURES"
          grntest --help
